.bigContainer{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}
.container{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.project-box{
    background-color: rgb(250, 246, 246);
    width: 400px;
    margin-left: 40px;
    height: 400px;
}
#image{
    margin:20px;
    width: 330px;
    height: 300px;
    opacity: 5;
}
#image:hover{
    opacity: 1;
    /* -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg); */
    height: 390px;
    width: 390px;
}
@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}
@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}
@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}